.hoverEffect {
  transition: background-color 0.3s ease, transform 0.1s ease;
  background-color: #FBF6FF;

  &:hover {
    background-color: #40189D;
    transform: scale(1.02);
    color: white;
    cursor: pointer;
  }
}
