<ion-app>
    <ion-content>
       <!-- Header -->
    <div class="header">
        <div class="header-content">
          <div>
            <h1 class="username">Message</h1>
          </div>
        </div>
      </div>
      <!-- Search Bar -->
      <div class="search-bar">
        <ion-searchbar placeholder="Search job here..." class="custom-searchbar"></ion-searchbar>
      </div>
  
      <div class="chat-list-container">
            <div class="chat-card">
                 <ion-avatar>
                    <img src="https://i.pravatar.cc/100" alt="Profile" />
                  </ion-avatar>
                <div class="chat-content">
                    <h3 class="">Gustauv Semalam</h3>
                    <p>Roger that sir, thankyou</p>
                    <div><p>2m ago</p> <p>Read</p></div>
                </div>
            </div>
      </div>

    </ion-content>
</ion-app>