<ion-app>
  
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Job Info -->
  <div class="job-container">
    <div class="job-header">
      <div>
        <h3>{{ job.company }}</h3>
        <h2>{{ job.title }}</h2>
      </div>
      <ion-thumbnail>
        <img [src]="job.logo" alt="Company Logo">
      </ion-thumbnail>
    </div>

    <!-- Job Filters -->
    <div class="job-filters">
      <!-- <ion-chip color="primary" *ngFor="let tag of job.tags">
        <ion-label>{{ tag }}</ion-label>
      </ion-chip> -->
    </div>

    <!-- Salary & Location -->
    <div class="job-details">
      <div class="detail">
        <ion-icon name="cash-outline"></ion-icon>
        <div>
          <h4>Salary</h4>
          <p>{{ job.salary }}</p>
        </div>
      </div>
      <div class="detail">
        <ion-icon name="location-outline"></ion-icon>
        <div>
          <h4>Location</h4>
          <p>{{ job.location }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Job Description -->
  <div class="job-description">
    <h3>Job Description</h3>
    <!-- <p>{{ job.description }}</p> -->
    <!-- <ul>
      <li *ngFor="let point of job.requirements">
        <ion-icon name="checkmark-circle-outline"></ion-icon> {{ point }}
      </li> -->
    <!-- </ul> -->
  </div>

  <!-- Apply Button -->
  <div class="bottom-bar">
    <ion-button expand="full" shape="round" color="primary">
      APPLY JOB
    </ion-button>
  </div>

</ion-content>
<app-footer></app-footer>

</ion-app>