
ion-content {
  --background: white;
  --color: black;
}
ion-header ion-toolbar  {
  --background:white;
  --color: black;
}

ion-card {
  background-color: white;
  color: black;
}

.job-card {
  display: flex;
  flex-direction: column;
}

.job-heading {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.companyImg {
  height: 120px;
  width: 120px;
}

.job-time {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  padding: 14px;
  gap: 10px;
}

.job-time-type {
  border: 1px solid black;
  padding: 5px;
  border-radius:  10px 10px 10px 10px ;
  background-color: rgb(91, 115, 221);
  color: rgb(242, 238, 230);
  font-weight: 800;
}

