<ion-app>
  
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> Job Details</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="job-card">
    <div class="job-heading">
        <div>
          <h5>Highspeed Studios</h5>
          <h3>Senior Software Engineer</h3>
        </div>
        <div class="companyImg">
          <img src="../../../assets/images.png" alt="">
        </div>
    </div>
    <div class="job-time">
      <div class="job-time-type">FullTime</div>
      <div class="job-time-type">Remote</div>
      <div class="job-time-type">Hourly</div>
    </div>
</ion-card>

<ion-card color="">
  <div class="salary-location-card"> 
    <div class="sl-img">
      <img src="../../../assets/image.png" alt="">
    </div>
    <div>
      <p>Salary</p>
      <p>$500 - $1,000/monthly</p>
    </div>
  </div>

  <div class="salary-location-card"> 
    <div class="sl-img">
      <img src="../../../assets/location.png" alt="">
    </div>
    <div >
      <p>Location</p>
      <p>Medan, Indonesia</p>
    </div>
  </div>
  
</ion-card>
  
<ion-card class="job-description-card">
  <h4>Job Description</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
  <ul>
    <li>Sed ut perspiciatis unde omnis </li>
    <li>Doloremque laudantium</li>
    <li>Architecto beatae vitae dicta </li>
    <li>Sunt explicabo</li>
  </ul>



<div class="apply-job-card">

  <div class="save-img">
    <ion-button >
      <img src="../../../assets/save.png" alt="">    
    </ion-button>  
  </div>
  
  <div >
    <ion-button class="apply-button">
      APPLY JOB
    </ion-button>
  </div>

</div>

</ion-card>


</ion-content>

<app-footer></app-footer>

</ion-app>