<div class="container">
  <div class="userprofile-div">
    <div>
      <p>Good Morning</p>
      <h2>Ganesh Kusumbe</h2>
    </div>
    <div>
      <img class="user-img" src="../../../assets/profileImg.jpeg" alt="userProfile">
    </div>
  </div>
 <ion-searchbar class="custom-searchbar" placeholder="Search job here.."></ion-searchbar> 
</div>

<div class="jobappInter">
    <div class="job-in">
      <p class="couting-num">9</p>
      <p class="job-in-text">Job Applied</p>
    </div>

    <div class="job-in">
      <p class="couting-num">9</p>
      <p class="job-in-text" >Interviews</p>
    </div>
</div>
