  .main-contenet {
    text-align: center;
    font-family: Satoshi;
    font-weight: bold;
    padding-top: 30px;
    padding-inline: 10px;
    font-size: 35px;
  }

  .src-btn {
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 20%;
    --background: #032f0e;  /* Custom background color */
    --color: rgb(27, 235, 239);         /* Text/Icon color */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Adds shadow */
  --border-radius: 24px; /* Optional: Rounds corners */

  }
