ion-toolbar {
  --background-color: white !important; /* Ensures background is white */
  
}

ion-footer {
  background-color: white !important; /* Explicitly set background to white */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white !important; /* Ensures icon container is white */
}

mat-icon {
  font-size: 25px;
  color: #7020df; /* Change color if needed */
}
