ion-footer {
    // background: white;
    // border-top: 1px solid #ddd;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding: 10px;
    // background-color: #f7ee6e;
  }
  
  mat-icon {
    // background-color: black;
    font-size: 25px ;
    // color: #7020df; /* Change this to any color you want */
  }
  